<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%}confirm book to delete{%endblock%}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1>Kindly confirm if you want to delete "{{book.title}}"</h1>
  <form method="post">
    {% csrf_token %}
    <button type ="submit">Delete</button>
  </form>
  <a href ="{url 'listbooks'}">cancel</a>
</body>
</html>